<section class="container">
    <section class="header">
        <h3> Create New Post </h3>
    </section>
    
    <section class="create-form">
        <mat-form-field>
            <input matInput #message placeholder="Post Title" [(ngModel)]="formData.title">
        </mat-form-field>
    
        <div class="fileupload-wrapper">
            <img class="preview-image" *ngIf="formData.dataUrl !== ''" src="{{ formData.dataUrl }}" />
            <mat-form-field>
                <input matInput disabled placeholder="Upload Image File" [(ngModel)]="formData.fileName">
            </mat-form-field>
            
            <button mat-raised-button color="primary" (click)="openImage()">
                <mat-icon>file_upload</mat-icon>
            </button>
        
            <input type="file" id="fileUpload" name="fileUpload" style="display:none;" />
        </div>
    
        <div class="mat-form-filed-wrapper">
            <mat-form-field>
                <mat-label> Article Type </mat-label>
                <mat-select [(ngModel)]="formData.type">
                  <mat-option value="Livestock">Livestock</mat-option>
                  <mat-option value="Fishery">Fishery</mat-option>
                  <mat-option value="International">International</mat-option>
                  <mat-option value="AgToday">AgToday</mat-option>
                  <mat-option value="Agriculture">Agriculture</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label> Language </mat-label>
                <mat-select [(ngModel)]="formData.lang">
                  <mat-option value="Myanmar">Myanmar</mat-option>
                  <mat-option value="English">English</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field color="primary">
                <input matInput [matDatepicker]="post_date" [(ngModel)]="formData.post_date" placeholder="Post Date">
                <mat-datepicker-toggle matSuffix [for]="post_date"></mat-datepicker-toggle>
                <mat-datepicker #post_date color="primary"></mat-datepicker>
            </mat-form-field>
        </div>
    
        <mat-form-field>
            <textarea matInput placeholder="Description" [(ngModel)]="formData.description" class="desription"></textarea>
        </mat-form-field>
    
        <quill-editor [(ngModel)]="formData.body"></quill-editor>
    
        <div class="buttom-wrapper">
            <button mat-raised-button color="primary" (click)="save()"> Create New</button>
        </div>
    </section>
</section>



  