/* You can add global styles to this file, and also import other style files */

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100vh; }


.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.context {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ql-container,
.ql-editor {
    min-height: 300px!important;
}

.desription {
    min-height: 50px;
    height: 100%;
}